aiofiles==0.6.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
cssselect==1.1.0
fastapi==0.63.0
h11==0.12.0
idna==2.10
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
parsel==1.6.0
Pillow==8.2.0
pycparser==2.20
pycryptodomex==3.9.4
pydantic==1.7.3
PyMySQL==1.0.2
pyOpenSSL==19.1.0
python-alipay-sdk==3.0.1
python-multipart==0.0.5
qrcode==6.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.18
starlette==0.13.6
upyun==2.5.5
urllib3==1.26.3
uvicorn==0.13.4
w3lib==1.22.0
